<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash客户端和免费节点</title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
</head>

<body>
    <h1>Clash客户端和免费节点</h1>
    <h2>下载客户端</h2>
    <a href="{{cfw}}">Windows</a>
    <a href="{{cfw_portable}}">Windows（免安装）</a>
    <a href="{{cfa}}">Android</a>
    <h2>获取节点列表URL</h2>
    <p>复制下方URL</p>
    <code>{{subscribe_url}}</code>
    <p><em>感谢<a href="{{subscribe_source_url}}">{{subscribe_source_name}}</a></em></p>
    <h2>在客户端应用节点列表</h2>
    <h2>后记</h2>
    <blockquote>
        我们希望有一天，那些设置障碍使自己的人民与世界隔离、使人民互相隔离的政府，将认识到他们这么做不但伤害自己的利益，也伤害自己公民和全人类的权利。
        <br>
        <a href="https://blog.zoom.us/zh/improving-our-policies-as-we-continue-to-enable-global-collaboration/">——Zoom
            Video Communications, Inc.</a>
    </blockquote>
</body>

</html>